//@import './../../../node_modules/jquery-nice-select/css/nice-select.css';

.scroll {
    width: 100%;

    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;

            width: 8px;
            height: 8px;

            border: 2px solid #000;
            border-top: 0;
            border-right: 0;

            transform: translateY(-50%) rotate(-45deg);
            pointer-events: none;
        }
    }
}