$icons-font-folder: './font' !default;
$icons-font-family: 'fi' !default;
$icons: (
        "close": "\f101",
        "myStar": "\f102",
        "star": "\f104",
        "information": "\f102",
) !default;
