input {
  padding: 0;
  margin: 0;
}

.search__input {
  outline: none;

  border-radius: 5px;
  border: none;
  height: 50px;
  width: 250px;
  padding: 0 10px;

  background-color: #333;
  color: #fff;

  transition: all .3s ease-in;

  &_disabled {
    width: 0px;
    padding: 0px 0px;
    transition: all .3s ease-in;
  }
}
