.goods__item {
  width: 30%;
  padding: 10px;
  height: auto;
  margin-bottom: 20px;

  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 2px #000000;
  box-shadow: 0px 0px 5px 2px #000000;

  @media(max-width: 768px) {
    width: 48%;
  }

  @media(max-width: 576px) {
    width: 100%;
  }

  //Воспроизвели ошибку
  //float: left;
}
