@import '~jquery-ui/themes/base/theme.css';
@import '~jquery-ui/themes/base/slider.css';
@import '~selectize/dist/css/selectize.css';

.filter {
  display: flex;
  flex-direction: column;

  height: auto;
  box-shadow: 0px 0px 15px 1px #000000;

  &__section {
    padding: 17px 15px;
    border: 1px solid #ccc;
  }

  &__label {
    margin-bottom: 15px;

    &_br {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__option {
    display: flex;
    align-items: center;

    margin-bottom: 7px;

    &_br {
      text-transform: uppercase;
    }
  }

  &__count {
    color: #FF6347;
    margin-left: 7px;
  }
}
